{{> head }}
{{> navbar }}

<div class="row">

    <div class="col-8">
        <h1>Holaaaa</h1>
    </div>

    <div class="col-4">
        <img src="\assets\img\Imagen_Protocolo_6.png" class="img-thumbnail">
    </div>

</div>  

{{> foot }}